SUPABASE_URL=https://cepldzntrvdompebbzqj.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNlcGxkem50cnZkb21wZWJienFqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MjcyOTM0OSwiZXhwIjoyMDc4MzA1MzQ5fQ.PIi8eVApn-YEIZkdn8xOsNnq4fWsC15kl-HqXH59nVo
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNlcGxkem50cnZkb21wZWJienFqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3MjkzNDksImV4cCI6MjA3ODMwNTM0OX0.1Q_O_sbZehJLa9QDFWb82f83vhzzJtUZDjPWLdDq5Zo

MODEL_CACHE_DIR=./models
MODEL_CACHE_DAYS=7

API_HOST=0.0.0.0
API_PORT=8000

CORS_ORIGINS=*
